<div class="footer">

    <div class="space">&nbsp;</div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
        <div>
            <a href="#">
                <img class="logo" src="assets/images/logo.png" alt="Logo">
            </a>
        </div>

        <!-- menu -->
        <div fxLayout="column" fxLayoutGap="5px">
            <a href="url">
                <div class="white-text">CATEGORY</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
        </div>

        <div fxLayout="column" fxLayoutGap="5px">
            <a href="url">
                <div class="white-text">CATEGORY</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
        </div>

        <div fxLayout="column" fxLayoutGap="5px">
            <a href="url">
                <div class="white-text">CATEGORY</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
        </div>

        <div fxLayout="column" fxLayoutGap="5px">
            <a href="url">
                <div class="white-text">CATEGORY</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
        </div>

        <div fxLayout="column" fxLayoutGap="5px">
            <a href="url">
                <div class="white-text">CATEGORY</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
            <a href="url">
                <div class="white-text small-text">HEADING</div>
            </a>
        </div>
    </div>
    <!-- menu end -->


    <!-- social links -->

    <div class="space bottom-line">&nbsp;</div>


    <!-- social links end -->

</div>