<nav class="navbar navbar-light bg-light fixed-top navbar-opacity">
    <div class="container container-size">
        <a fxLayoutAlign="start start" class="navbar-brand margin-left" href="#">
            <img src="assets/images/logo.png" class="logo" alt="Logo">
        </a>
    </div>
    <!-- left part end -->

    <!-- right part -->
    <div fxLayout="row" class="margin-right right-part">
        <div fxLayout="column" fxLayoutAlign="end end">

            <!-- first row  -->
            <div fxLayout="row">
                <a class="navbar-little" href="url">SCHEDULE AN APPOINTMENT</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="navbar-little" href="url">LOCATE A SERVICE CENTER</a>

            </div>
            <!-- first row end-->

            <!-- second row -->
            <div fxLayout="row">
                <div fxLayout="column">
                    <span class="silver-text">YOUR AAMCO IS</span>
                    <span class="grey-text">TAYLORSVILLE UT &nbsp;&nbsp;</span>
                </div>
                <span class="phone-text">(801) 783.32.80</span>
            </div>
            <!-- second row end-->

        </div>
        <!-- right part end -->
    </div>

    <!-- nav bar menu -->
    <div class="container-fluid" fxFlex class="navbar-main-menu"> <br>
        <div fxLayout="row" fxFlex fxLayoutAlign="space-around center">
            <a class="navbar-menu" href="url">TRANSMISSION SERVICE</a>
            <a class="navbar-menu" href="url">AUTO CAR & REPAIR</a>
            <a class="navbar-menu" href="url">CORPORATE FLEET SERVICES</a>
            <a class="navbar-menu" href="url">EXTENDED WARRANTY SERVICES</a>
        </div>
    </div>
    <!-- nav bar menu end-->

</nav>