<app-header></app-header>


<!-- image  -->
<div class="text-center" style="position: relative;">
    <img src="assets/images/header-image.png" class="img-fluid picture-size" alt="image">
    <div class="image-main-text">
        <h1>SCHEDULE YOUR NEXT APPOINTMENT</h1>
    </div>

    <div class="image-scroll-text">
        <h6>Scroll down for details <br> &#709; </h6>
    </div>
</div>
<!-- image end  -->

<!-- form -->

<div fxLayoutAlign="center center" fxLayout="column" class="blue-text">
    <br>
    <h3>PLEASE SELECT A CONVENIENT TIME TO LEAVE YOUR VEHICLE WITH US</h3>

    <div fxLayout="row" fxLayoutGap="20px">
        <!-- DATE & TIME left part -->
        <div> DATE & TIME
            <div fxLayout="row" fxLayoutGap="25px">
                <div class="input-group-prepend column-size">
                    <input type="data" [formControl]="dataStartControl" class="form-control input-border" placeholder="SELECT A DATE">
                </div>

                <div class="input-group-prepend column-size">
                    <input type="time" [formControl]="timeStartControl" class="form-control input-border" placeholder="SELECT A TIME">
                </div>
            </div>

            <br>

            <div fxLayout="row" fxLayoutGap="25px">
                <div class="input-group-prepend column-size">
                    <input type="data" [formControl]="dataEndControl" class="form-control input-border" placeholder="SELECT A DATE">
                </div>

                <div class="input-group-prepend column-size">
                    <input type="time" [formControl]="timeEndControl" class="form-control input-border" placeholder="SELECT A TIME">
                </div>
            </div>

            <br>
            <div fxLayout="row" fxLayoutGap="25px">
                <div class="column-size">
                    STORE HOURSE
                </div>

                <div class="column-size">
                    <div>
                        CHOOSE YOUR SERVICE
                    </div>
                    <div class="silver-text">
                        Please select your service
                    </div>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="25px">
                <div fxLayout="column" class="margin-bottom column-size">
                    <div class="silver-text">MON - WED</div>
                    <div class="grey-text">8:00 AM - 05:00 PM</div>
                </div>

                <div class="form-check form-control-sm column-size">
                    <input type="checkbox" [formControl]="transmissionCheckboxControl" class="form-check-input">
                    <label class="form-check-label grey">Transmission</label>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="25px">
                <div fxLayout="column" class="margin-bottom column-size">
                    <div class="silver-text">THU</div>
                    <div class="grey-text">8:00 AM - 04:00 PM</div>
                </div>

                <div class="form-check form-control-sm column-size">
                    <input type="checkbox" [formControl]="vehicleMaintanceCheckboxControl" class="form-check-input">
                    <label class="form-check-label grey">Vehicle Maintenance</label>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="25px">
                <div fxLayout="column" class="margin-bottom column-size">
                    <div class="silver-text">FRI</div>
                    <div class="grey-text">8:00 AM - 01:00 PM</div>
                </div>

                <div class="form-check form-control-sm column-size">
                    <input type="checkbox" [formControl]="vehicleRepairCheckboxControl" class="form-check-input">
                    <label class="form-check-label grey">Vehicle Rapair</label>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="25px">
                <div fxLayout="column" class="margin-bottom column-size">
                    <div class="silver-text">SAT</div>
                    <div class="grey-text">CLOSE</div>
                </div>

                <div class="form-check form-control-sm column-size">
                    <input type="checkbox" [formControl]="otherCheckboxControl" class="form-check-input">
                    <label class="form-check-label grey">Other</label>
                </div>
            </div>
        </div>
        <!-- DATE & TIME left part end -->

        <div class="hor-line">&nbsp;</div>

        <div fxLayout="row" fxLayoutGap="20px">
            <!-- YOUR VEHICLE right part -->
            <div> YOUR VEHICLE
                <div fxLayout="row" fxLayoutGap="25px">
                    <div class="input-group-prepend column-size">
                        <input type="text" [formControl]="carYearControl" class="form-control input-border" placeholder="YEAR OF CAR">
                    </div>

                    <div class="input-group-prepend column-size">
                        <select [formControl]="carModelControl" class="form-control custom-select input-border">
                            <option value="">SELECT YOUR CAR</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <div class="invalid-feedback">Example invalid custom select feedback</div>
                    </div>
                </div>

                <br>

                <div class="input-group-prepend input-big-size">
                    <input type="text" [formControl]="messageControl" class="form-control input-border message-box"
                        placeholder="WRITE YOUR MESSAGE">
                </div>

                <br>

                <div> PERSONAL DETAILS </div>

                <div fxLayout="row" fxLayoutGap="25px">
                    <div class="input-group-prepend column-size">
                        <input type="text" [formControl]="firstNameControl" class="form-control input-border"
                            placeholder="FIRST NAME">
                    </div>

                    <div class="input-group-prepend column-size">
                        <input type="text" [formControl]="secondNameControl" class="form-control input-border"
                            placeholder="SECOND NAME">
                    </div>
                </div>

                <br>

                <div fxLayout="row" fxLayoutGap="25px">
                    <div class="input-group-prepend column-size">
                        <input type="text" [formControl]="emailControl" class="form-control input-border" placeholder="EMAIL">
                    </div>

                    <div class="input-group-prepend column-size">
                        <input type="text" [formControl]="phoneNumberControl" class="form-control input-border"
                            placeholder="PHONE NUMBER">
                    </div>
                </div>

                <br>

                <div fxLayout="row" fxLayoutGap="290px">
                    <button fxLayoutAlign="start none" type="button" class="btn clear-button input-border" (click)="clearInputs()">
                        <div class="blue-text">CLEAR</div>
                    </button>

                    <button fxLayoutAlign="end none" type="button" class="btn send-button nput-border" (click)="submitAppointment()">
                        <div class="white-text">SEND</div>
                    </button>
                </div>

            </div>
        </div>
        <!-- YOUR VEHICLE right part end-->


    </div>
</div>

<!-- form end -->

<div class="space bottom-line">&nbsp;</div>

<!-- sign up -->
<div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="100px">

    <div fxLayout="column" fxLayoutAlign="start none" class="sign-column-size">
        <div class="blue-text first-line">
            SIGN UP FOR SPECIAL OFFERS
        </div>

        <div class="grey-text">
            <div>
                Enter your email and you will get the best
            </div>
            <div>
                offer we have directly to your inbox
            </div>
        </div>
    </div>

    <div class="hor-line">&nbsp;</div>

    <div fxLayout="column" class="sign-column-size">
        <div class="blue-text first-line">
            TELL TO YOUR FRIENDS
        </div>
        <div class="grey-text">
            <div>
                Some of your friends may like to visit if you
            </div>
            <div>
                recommend us. They'll trust your taste!
            </div>
        </div>

    </div>

</div>

<div fxLayoutAlign="center center" fxLayout="row">
    <div>&nbsp;</div>
    <div class="grey">Or</div>
    <div>&nbsp;</div>
</div>

<div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="120px">
    <div>
        <div class="input-group mb-3 input-email-size sign-column-size">
            <input type="text" required [formControl]="emailNotifyControl" class="form-control input-border"
                placeholder="ENTER HERE YOUR EMAIL">
            <div class="input-group-append">
                <button [disabled]="emailNotifyControl.invalid" class="btn btn-outline-secondary send-button" type="button"
                    (click)="notifyUser()">
                    <div class="white-text">
                        SEND
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div class="hor-line">&nbsp;</div>

    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" class="sign-column-size">
        <div>
            <a href="#">
                <img src="assets/images/btm-fb.png" alt="Logo">
            </a>
        </div>
        <a href="#">
            <img src="assets/images/btn-tweet.png" alt="Logo">
        </a>
    </div>

</div>

<div class="space">&nbsp;</div>

<!-- sign up end -->

<app-footer></app-footer>