<nav class="navbar navbar-light bg-light fixed-top navbarlopacity">
  <!-- left part -->
  <div class="container">
    <a fxLayoutAlign="start start" class="navbar-brand" class="marginleft" href="#">
      <img src="assets/images/logo.png" class="logo" alt="Logo">
    </a>
  </div>
  <!-- left part end -->

  <!-- right part -->
  <div fxLayout="row" class="marginright">
    <div fxLayout="column" fxLayoutAlign="end end">

      <!-- first row  -->
      <div fxLayout="row">
        <a class="navbarlittle"  href="url">SCHEDULE AN APPOINTMENT</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="navbarlittle" href="url">LOCATE A SERVICE CENTER</a>

      </div>
      <!-- first row end-->

      <!-- second row -->
      <div fxLayout="row">
        <div fxLayout="column">
          <span class="silvertext">YOUR AAMCO IS</span>
          <span class="greytext">TAYLORSVILLE UT &nbsp;&nbsp;</span>
        </div>
        <span class="phonetext">(801) 783.32.80</span>
      </div>
      <!-- second row end-->

    </div>
    <!-- right part end -->
  </div>

  <!-- nav bar menu -->
  <div class="container-fluid" fxFlex class="navbarmainmenu"> <br>
    <div fxLayout="row" fxFlex fxLayoutAlign="space-around center">
      <a class="navbarmenu" href="url">TRANSMISSION SERVICE</a>
      <a class="navbarmenu" href="url">AUTO CAR & REPAIR</a>
      <a class="navbarmenu" href="url">CORPORATE FLEET SERVICES</a>
      <a class="navbarmenu" href="url">EXTENDED WARRANTY SERVICES</a>
    </div>
  </div>
  <!-- nav bar menu end-->
</nav>

<!-- image  -->
<div class="text-center" style="position: relative;">
  <img src="assets/images/header-image.png" class="img-fluid picturesize" alt="image">
  <div class="imagemaintext">
    <h1>SCHEDULE YOUR NEXT APPOINTMENT</h1>
  </div>

  <div class="imagescrolltext">
    <h6>Scrool down for details <br> &#709; </h6>
  </div>
</div>
<!-- image end  -->

<!-- form -->

<div fxLayoutAlign="center center" fxLayout="column" class="bluetext">
  <br>
  <h3>PLEASE SELECT A CONVENIENT TIME TO LEAVE YOUR VEHICLE WITH US</h3>

  <div fxLayout="row" fxLayoutGap="20px">
    <!-- DATE & TIME -->
    <div style="border-right: 1px solid"> DATE & TIME
      <div fxLayout="row" fxLayoutGap="25px">
        <div class="input-group-prepend">
          <input type="text" class="form-control inputborder" placeholder="SELECT A DATE"
            aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group-prepend">
          <input type="text" class="form-control inputborder" placeholder="SELECT A TIME"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>

      <br>

      <div fxLayout="row" fxLayoutGap="25px">
        <div class="input-group-prepend">
          <input type="text" class="form-control inputborder" placeholder="SELECT A DATE"
            aria-label="SELECT A DATE" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group-prepend">
          <input type="text" class="form-control inputborder" placeholder="SELECT A TIME"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>

      <div>
        store hours
      </div>
    </div>
    <!-- DATE & TIME end -->

    <div>t</div>

    <div fxLayout="row" fxLayoutGap="20px">
      <!-- YOUR VEHICLE -->
      <div> YOUR VEHICLE
        <div fxLayout="row" fxLayoutGap="25px">
          <div class="input-group-prepend">
            <input type="text" class="form-control inputborder" placeholder="YEAR OF CAR"
              aria-describedby="inputGroup-sizing-default">
          </div>

          <div class="input-group-prepend">
            <select class="custom-select inputborder" required >
              <option value="">SELECT YOUR CAR</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <div class="invalid-feedback">Example invalid custom select feedback</div>
          </div>
        </div>

        <br>

        <div class="input-group-prepend">
          <input type="text" class="form-control inputborder" placeholder="WRITE YOUR MESSAGE"
            aria-describedby="inputGroup-sizing-default">
        </div>


      </div>
    </div>
    <!-- YOUR VEHICLE end-->


  </div>
</div>

<!-- form end -->

<div style="display: flex; align-items:center;">
  <img src="assets/images/header-image.png" class="img-fluid" style="width: 100%;" alt="image">
</div>