<nav class="navbar  navbar-light bg-light sticky-top">
  <!-- left part -->
  <div class="container">
    <a fxLayoutAlign="start start" class="navbar-brand" href="#">
      <img src="assets/images/logo.png" alt="Logo" style="width:70px;">
    </a>
  </div>
  <!-- end left part -->

  <!-- right part -->
  <div fxLayout="row">
    <div fxLayout="column" fxLayoutAlign="end end">
      <!-- first row  -->
      <div fxLayout="row">
        <a style="font-size: 10px; color: blue;" href="url">SCHEDULE AN APPOINTMENT</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a style="font-size: 10px; color: blue;" href="url">LOCATE A SERVICE CENTER</a>
      </div>
      <!-- end first row  -->

      <!-- second row -->
      <div fxLayout="row">
        <div fxLayout="column">
          <span style="font-size: 10px; color: silver;">YOUR AAMCO IS</span>
          <span style="font-size: 13px; color: grey;">TAYLORSVILLE UT</span>
        </div>
        &nbsp;&nbsp;
        <span style="font-size: 23px; color: red;">(801) 783.32.80</span>
      </div>
      <!-- end second row  -->

    </div>
    <!--end right part -->

  </div>
  <hr>
  
  <div class="container">ttt</div>
</nav>