<nav class="navbar navbar-light bg-light fixed-top navbar-opacity">
  <!-- left part -->
  <div class="container">
    <a fxLayoutAlign="start start" class="navbar-brand" class="margin-left" href="#">
      <img src="assets/images/logo.png" class="logo" alt="Logo">
    </a>
  </div>
  <!-- left part end -->

  <!-- right part -->
  <div fxLayout="row" class="margin-right">
    <div fxLayout="column" fxLayoutAlign="end end">

      <!-- first row  -->
      <div fxLayout="row">
        <a class="navbar-little" href="url">SCHEDULE AN APPOINTMENT</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="navbar-little" href="url">LOCATE A SERVICE CENTER</a>

      </div>
      <!-- first row end-->

      <!-- second row -->
      <div fxLayout="row">
        <div fxLayout="column">
          <span class="silver-text">YOUR AAMCO IS</span>
          <span class="grey-text">TAYLORSVILLE UT &nbsp;&nbsp;</span>
        </div>
        <span class="phone-text">(801) 783.32.80</span>
      </div>
      <!-- second row end-->

    </div>
    <!-- right part end -->
  </div>

  <!-- nav bar menu -->
  <div class="container-fluid" fxFlex class="navbar-main-menu"> <br>
    <div fxLayout="row" fxFlex fxLayoutAlign="space-around center">
      <a class="navbar-menu" href="url">TRANSMISSION SERVICE</a>
      <a class="navbar-menu" href="url">AUTO CAR & REPAIR</a>
      <a class="navbar-menu" href="url">CORPORATE FLEET SERVICES</a>
      <a class="navbar-menu" href="url">EXTENDED WARRANTY SERVICES</a>
    </div>
  </div>
  <!-- nav bar menu end-->
</nav>

<!-- image  -->
<div class="text-center" style="position: relative;">
  <img src="assets/images/header-image.png" class="img-fluid picture-size" alt="image">
  <div class="image-main-text">
    <h1>SCHEDULE YOUR NEXT APPOINTMENT</h1>
  </div>

  <div class="image-scroll-text">
    <h6>Scroll down for details <br> &#709; </h6>
  </div>
</div>
<!-- image end  -->

<!-- form -->

<div fxLayoutAlign="center center" fxLayout="column" class="blue-text">
  <br>
  <h3>PLEASE SELECT A CONVENIENT TIME TO LEAVE YOUR VEHICLE WITH US</h3>

  <div fxLayout="row" fxLayoutGap="20px">
    <!-- DATE & TIME left part -->
    <div> DATE & TIME
      <div fxLayout="row" fxLayoutGap="25px">
        <div class="input-group-prepend">
          <input type="text" class="form-control input-border" placeholder="SELECT A DATE">
        </div>

        <div class="input-group-prepend">
          <input type="text" class="form-control input-border" placeholder="SELECT A TIME">
        </div>
      </div>

      <br>

      <div fxLayout="row" fxLayoutGap="25px">
        <div class="input-group-prepend">
          <input type="text" class="form-control input-border" placeholder="SELECT A DATE">
        </div>

        <div class="input-group-prepend">
          <input type="text" class="form-control input-border" placeholder="SELECT A TIME">
        </div>
      </div>

      <br>
      <div fxLayout="row" fxLayoutGap="130px">
        <div>
          STORE HOURSE
        </div>

        <div>
          <div>
            CHOOSE YOUR SERVICE
          </div>
          <div class="silver-text">
            Please select your service
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="142px">
        <div fxLayout="column" class="margin-bottom">
          <div class="silver-text">MON - WED</div>
          <div class="grey-text">8:00 AM - 05:00 PM</div>
        </div>

        <div class="form-check form-control-sm">
          <input type="checkbox" class="form-check-input">
          <label class="form-check-label grey">Transmission</label>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="142px">
        <div fxLayout="column" class="margin-bottom">
          <div class="silver-text">THU</div>
          <div class="grey-text">8:00 AM - 04:00 PM</div>
        </div>

        <div class="form-check form-control-sm">
          <input type="checkbox" class="form-check-input">
          <label class="form-check-label grey">Vehicle Maintenance</label>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="142px">
        <div fxLayout="column" class="margin-bottom">
          <div class="silver-text">FRI</div>
          <div class="grey-text">8:00 AM - 01:00 PM</div>
        </div>

        <div class="form-check form-control-sm">
          <input type="checkbox" class="form-check-input">
          <label class="form-check-label grey">Vehicle Rapair</label>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="212px">
        <div fxLayout="column" class="margin-bottom">
          <div class="silver-text">SAT</div>
          <div class="grey-text">CLOSE</div>
        </div>

        <div class="form-check form-control-sm">
          <input type="checkbox" class="form-check-input">
          <label class="form-check-label grey">Other</label>
        </div>
      </div>
    </div>
    <!-- DATE & TIME left part end -->

    <div class="hor-line">&nbsp;</div>

    <div fxLayout="row" fxLayoutGap="20px">
      <!-- YOUR VEHICLE right part -->
      <div> YOUR VEHICLE
        <div fxLayout="row" fxLayoutGap="25px">
          <div class="input-group-prepend">
            <input type="text" class="form-control input-border" placeholder="YEAR OF CAR">
          </div>

          <div class="input-group-prepend">
            <select class="form-control custom-select input-border popup-size" required>
              <option value="">SELECT YOUR CAR</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <div class="invalid-feedback">Example invalid custom select feedback</div>
          </div>
        </div>

        <br>

        <div class="input-group-prepend">
          <input type="text" class="form-control input-border" placeholder="WRITE YOUR MESSAGE">
        </div>

        <br>

        <div> PERSONAL DETAILS </div>

        <div fxLayout="row" fxLayoutGap="25px">
          <div class="input-group-prepend">
            <input type="text" class="form-control input-border" placeholder="FIRST NAME">
          </div>

          <div class="input-group-prepend">
            <input type="text" class="form-control input-border" placeholder="SECOND NAME">
          </div>
        </div>

        <br>

        <div fxLayout="row" fxLayoutGap="25px">
          <div class="input-group-prepend">
            <input type="text" class="form-control input-border" placeholder="EMAIL">
          </div>

          <div class="input-group-prepend">
            <input type="text" class="form-control input-border" placeholder="PHONE NUMBER">
          </div>
        </div>

        <br>

        <div fxLayout="row" fxLayoutGap="330px">
          <button fxLayoutAlign="start none" type="button" class="btn clear-button input-border">
            <div class="blue-text">CLEAR</div>
          </button>

          <button fxLayoutAlign="end none" type="button" class="btn send-button nput-border">
            <div class="white-text">SEND</div>
          </button>
        </div>

      </div>
    </div>
    <!-- YOUR VEHICLE right part end-->


  </div>
</div>

<!-- form end -->

<div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="330px">

  <div fxLayout="column" fxLayoutAlign="start none" >
    <div>
      SIGN UP
    </div>

    <div>
      Enter
    </div>
  </div>

  <div class="hor-line">
    second
  </div>

  <div fxLayout="column">
    <div>
      TELL
    </div>
    <div>
      Some
    </div>

  </div>

</div>

<div style="display: flex; align-items:center;">
  <img src="assets/images/header-image.png" class="img-fluid" style="width: 100%;" alt="image">
</div>